div.col-md-9 h1:first-of-type {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
}

div.col-md-9 p:first-of-type {
  text-align: center;
}

div.col-md-9 p.admonition-title:first-of-type {
  text-align: left;
}

div.col-md-9 h1:first-of-type .headerlink {
  display: none;
}

code.no-highlight {
  color: black;
}

div.col-md-9 img {
  display: block;
  margin: auto;
  background-color: transparent;
  border: none;
}

.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: inherit;
  background-color: white;
  border-right: 1px solid;
}

hr.dash {
  border-top: 1px dashed #8c8b8b;
}

hr.gradient_divider {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

p {
  text-align: justify;
}

footer p {
  text-align: center;
}
